flask
python-dotenv
openai==1.66.2
aiohttp
requests
slack-sdk
gspread
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langdetect
pycountry
pytz
unidecode
gunicorn
waitress
slackeventsapi
openpyxl
redis
psutil